<div class="wrapper">
    <h1>Create account</h1>
    <h4>Let’s get productive toghether!</h4>
    <form action="submit">
        <label>Full name*</label>
        <input type="text">
        <label>Username*</label>
        <input type="text">
        <label>Email*</label>
        <input type="text">
        <label>Phone number*</label>
        <input type="text">
        <label>Address line*</label>
        <input type="text">
        <label>Address line*</label>
        <input type="text">
        <label>Suite</label>
        <input type="text">
        <label>City*</label>
        <input type="text">
        <label>Zip code*</label>
        <input type="text">
        <button>Create account</button>
    </form>
</div>