<div class="wrapper">
    <div class="wrapper__content">
        <h1>Create account</h1>
        <h3>Let’s get productive toghether!</h3>
        <form action="submit" [formGroup]="form">
            <div class="inputs">
                <div>
                    <label>Full Name*</label>
                    <input type="text" formControlName="name" [(ngModel)]="name" >
                    <span class="validation" *ngIf="form.get('name')?.invalid && form.get('name')?.touched">Please enter the full name</span>
                </div>
                <div>
                    <label>Username*</label>
                    <input type="text" formControlName="username" [(ngModel)]="username"> 
                    <span class="validation" *ngIf="form.get('username')?.invalid && form.get('username')?.touched">Please enter the username</span>
                </div>
                <div>
                    <label>Email*</label>
                    <input type="text" formControlName="email" [(ngModel)]="email">
                    <span class="validation" *ngIf="form.get('email')?.invalid && form.get('email')?.touched">Please enter a valid email adress</span>
                </div>
                <div>
                    <label>Phone number*</label>
                    <input type="text" placeholder="000-000-0000" formControlName="number" [(ngModel)]="number">
                    <span class="validation" *ngIf="form.get('number')?.invalid && form.get('number')?.touched">Please enter a phone number</span>
                </div>
                <div>
                    <label>Adress line*</label>
                    <input type="text" formControlName="adress" [(ngModel)]="adress">
                    <span class="validation" *ngIf="form.get('adress')?.invalid && form.get('adress')?.touched">Please enter an adress</span>
                </div>
                <div>
                    <label>Suite</label>
                    <input type="text" [(ngModel)]="suite">
                </div>
                <div>
                    <label>City*</label>
                    <input type="text" formControlName="city" [(ngModel)]="city">
                    <span class="validation" *ngIf="form.get('city')?.invalid && form.get('city')?.touched">Please enter a city</span>
                </div>
                <div>
                    <label>ZIP Code*</label>
                    <input type="text" formControlName="zip" [(ngModel)]="zip">
                    <span class="validation" *ngIf="form.get('zip')?.invalid && form.get('zip')?.touched">Please enter a valid ZIP code</span>
                </div>
            </div>
            <button [disabled]='form.invalid' routerLink="/todolist" routerLinkActive="active" (click)='addUser()'>Create Account</button>
        </form>
    </div>
</div>