@import "/src/assets/styles/variables.scss";

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0000000d;
  display: block;
  z-index: 4;

  .content {
    background: #ffffff;
    border: 1px solid #e1e1e1;
    box-sizing: border-box;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.06);
    border-radius: 20px;
    position: absolute;
    padding: 40px 80px;
    left: 50%;
    margin-left: -280px;
    bottom: 50%;
    margin-bottom: -148px;

    .cancel {
      position: absolute;
      right: 0;
      margin-right: 19px;
      top: 19px;
    }

    h1 {
      font-family: "Open Sans", sans-serif;
      font-size: 26px;
      font-weight: 700;
      line-height: 22px;
      text-align: left;
      color: $primary-dark;
      margin-bottom: 40px;
    }

    form {
      display: grid;
      grid-template-columns: 400px;

      textarea {
        margin-bottom: 40px;
        height: 64px;
        padding: 8px 14px;
        border: 1px solid #d9d9d9;
        box-sizing: border-box;
        border-radius: 6px;
        outline: none;
        font-family: Open Sans;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
      }

      button {
        @include btn-style;
        padding: 14px 0;
        font-family: "Open Sans", sans-serif;
        font-size: 18px;
        font-weight: bold;
        line-height: 22px;
        color: white;
        position: relative;
        align-items: center;

        &:disabled {
          background: #d0d0d0;
        }

        img {
          margin-right: 15px;
          float: right;
          position: relative;
          top: 2px;
        }
      }
    }
  }
}
